---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Section from "@/layouts/Section.astro";
import SectionTitle from "./SectionTitle.astro";
import ContactForm from "./ContactForm";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translations = {
  nameRequired: t('contact.nameRequired'),
  invalidEmail: t('contact.invalidEmail'),
  subjectRequired: t('contact.subjectRequired'),
  messageRequired: t('contact.messageRequired'),
  labels: {
    name: t('contact.form.name'),
    email: t('contact.form.email'),
    phone: t('contact.form.phone'),
    subject: t('contact.form.subject'),
    message: t('contact.form.message'),
  },
  submitting: t('contact.form.submitting'),
  submit: t('contact.form.submit'),
  unexpectedError: t('contact.form.unexpectedError'),
  invalidFormat: t('contact.form.invalidFormat'),
  successMessage: t('contact.form.successMessage'),
  captchaRequired: t('contact.form.captchaRequired'),
  captchaError: t('contact.form.captchaError'),
};
---

<Section id={t('nav.contact')}>
  <div class="flex flex-col gap-2">
    <SectionTitle title={t('contact.title')} />
    <p class="text-muted-foreground">
      {t('contact.subtitle')}
      <a href="mailto:all.galeano.diaz@gmail.com" class="text-white underline">galeano.diaz.alberto@gmail.com</a>
    </p>
  </div>
  <ContactForm translations={translations} lang={lang} client:load/>
</Section>